.login_signup {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, wheat, white);
}

.loin_signup-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.loin_signup-container form {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px;
    background: whitesmoke;
    border-radius: 10px;
    margin: 0 auto;
}

.loin_signup-container form input {
    padding: 10px;
    outline: none;
    border: 1px solid wheat;
}

.loin_signup-container form input:focus {
    box-shadow: 0 0 10px rgba(255, 166, 0, 0.185);
    border: none;
    border-radius: 10px;
}

.seaction_authHeader {
    color: gray;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.login_signup-login_txt {
    margin-top: 20px;
    margin-left: 25px;
}

.login_signup-login_txt span {
    color: orangered;
    font-weight: 600;
    text-decoration: underline;
}

.login_signup-agree {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

.login_signup-agree input {
    transform: translateY(-8px);
}